/*  your css code here. If applicable */
.card{
	width: 200px;
	padding: 5px;
	background-color: gray;
	box-shadow: 2px 5px black;
	text-align: center;
}

img{
	width: 100%;

}
button{
	padding: 10px;
	background-color: red;
	color: white;
	border-radius: 5px
}